.header-illustration {
    position: relative;
    height: 530px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(68, 109, 165, 0.9), rgba(92, 126, 172, 0.8)), url('../images/team.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.header-illustration .about-drawing {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100px);
}

.header-illustration .about-drawing img {
    min-width: 500px;
}

.header-illustration .header-text {
    font-size: 0.95em;
    color: white;
    z-index: 10;
}

.header-illustration .header-text>h1 {
    position: absolute;
    font-size: 1.7em;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
    text-shadow: 7px 5px 4px rgb(31 61 103 / 50%);
}

.header-illustration .header-text>h3 {
    position: absolute;
    font-weight: 400;
    min-width: 245px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1em;
    padding: 0.7rem;
    background-color: rgb(37 77 123 / 0.6);
}

.header-illustration .header-text>h3:nth-child(2) {
    top: 10.5rem;
}

.header-illustration .header-text>h3:nth-child(3) {
    top: 17rem;
}

.header-illustration .header-text>h3:nth-child(4) {
    top: 25rem;
}

.about {
    position: relative;
    background: none;
}

.about .presentation {
    position: relative;
    left: 0;
    top: 0;
    transform: translateY(0) translateX(0);
    padding: 3rem 0;
}

.about .presentation p {
    line-height: 1.7;
    text-align: left;
    max-width: 670px;
    padding-top: 1.7rem;
    margin: 0 auto;
    color: #333333;
}

.about .cityscape-bckgr {
    display: none;
}

footer .content-holder {
    padding-top: 7rem;
}

@media (min-width: 400px) {
    .header-illustration .header-text>h3:nth-child(2) {
        transform: translateX(calc(-50% - (100vw - 350px) / 2));
    }
    .header-illustration .header-text>h3:nth-child(3) {
        transform: translateX(calc(-50% + (100vw - 350px) / 3));
    }
    .header-illustration .header-text>h3:nth-child(4) {
        transform: translateX(calc(-50% - (100vw - 350px) / 5));
    }
}

@media (min-width: 600px) {
    .header-illustration {
        height: 450px;
        background-position: center;
    }
    .header-illustration .about-drawing {
        bottom: 0;
        transform: translateX(-50%) translateY(80px);
    }
    .header-illustration .about-drawing img {
        transform: scaleY(-1);
    }
    .header-illustration .header-text>h1 {
        top: unset;
        bottom: 35px;
        padding: 0;
    }
    .header-illustration .header-text>h3:nth-child(2) {
        top: unset;
        bottom: 18.5rem;
        transform: translateX(calc(-50% - (100vw - 350px) / 8)) translateY(-15px);
    }
    .header-illustration .header-text>h3:nth-child(3) {
        top: unset;
        bottom: 8rem;
        transform: translateX(calc(-50% - (100vw - 320px) / 2)) translateY(-60px);
    }
    .header-illustration .header-text>h3:nth-child(4) {
        top: unset;
        bottom: 10rem;
        transform: translateX(calc(-50% + (100vw - 320px) / 2)) translateY(15px);
    }
    .about .presentation {
        padding-bottom: 30%;
        z-index: 10;
    }
    .about .cityscape-bckgr {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(40px);
        overflow: hidden;
    }
    
    .about .cityscape-bckgr img {
        width: 130%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    /* .about .presentation {
        padding-bottom: 45%;
    } */
}

@media (min-width: 900px) {
    .header-illustration .about-drawing {
        transform: translateX(-50%) translateY(150px);
    }
    .header-illustration .about-drawing img {
        width: 700px;
    }
    .header-illustration .header-text {
        position: static;
        top: unset;
        transform: unset;
    }
    .header-illustration .header-text>h3 {
        max-width: 255px;
        padding: 1.3rem;
    }
    .header-illustration .header-text>h3:nth-child(3) {
        transform: translateX(calc(-50% - (100vw - 350px) / 2.5));
    }
    .header-illustration .header-text>h3:nth-child(4) {
        transform: translateX(calc(-50% + (100vw - 350px) / 2.5));
    }
}
@media (min-width: 1200px) {
    .header-illustration .about-drawing {
        transform: translateX(-50%) translateY(180px);
    }
    .header-illustration .about-drawing:hover img {
        transform: scale(1.1, -1.1);
    }
    .header-illustration .about-drawing img {
        width: 800px;
        transition: transform 0.3s ease;
    }
    .header-illustration .header-text>h3:nth-child(2) {
        transform: translateX(-75%);
    }
    .header-illustration .header-text>h3:nth-child(3) {
        transform: translateX(-190%);
    }
    .header-illustration .header-text>h3:nth-child(4) {
        transform: translateX(87%);
    }
    .about .cityscape-bckgr img {
        width: 1500px;
    }
}