.nav-holder.opened {
    height: 185px;
}

.header-illustration {
    position: relative;
    height: 350px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(68, 109, 165, 0.9), rgba(92, 126, 172, 0.8)), url("../images/mailing.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.header-illustration .about-drawing {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100px);
}

.header-illustration .about-drawing img {
    min-width: 500px;
}

.header-illustration .header-text {
    font-size: 0.95em;
    color: white;
    z-index: 10;
}

.header-illustration .header-text > h1 {
    position: absolute;
    font-size: 1.7em;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
    text-shadow: 7px 5px 4px rgb(31 61 103 / 50%);
}

.header-illustration .header-text .header-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

.header-illustration .header-text .header-icon:nth-child(2) {
    top: 130px;
    transform: translateX(calc(-50% - 90px));
}

.header-illustration .header-text .header-icon:nth-child(3) {
    top: 130px;
    transform: translateX(calc(-50% + 90px));
}

.header-illustration .header-text .header-icon:nth-child(4) {
    top: 230px;
}

.header-illustration .header-text .header-icon:nth-child(5),
.header-illustration .header-text .header-icon:nth-child(6) {
    display: none;
}

.header-illustration .header-text .header-icon img {
    width: 100%;
}

.contacts .outer-wrapper {
    padding-top: 5rem;
}

.contacts .contact-means {
    margin: 0 auto;
}

.contacts .contact-means ul {
    padding-top: 3rem;
}

.contacts .contact-means li {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 1.7em;
    align-items: center;
    padding: 3rem 0;
    border-bottom: 1px solid lightgrey;
}

.contacts .contact-means li svg {
    position: absolute;
    top: 14px;
}

.contacts .contact-means li.email {
    padding-top: 2.2rem;
}

.contacts .contact-means li:last-child {
    border: none;
}

.contacts .contact-means li img {
    width: 5rem;
}

.contacts .contact-means .phones img {
    margin-right: 1rem;
}

.contacts .contact-means .email img {
    margin-left: 1.5rem;
}

.contacts .contact-means li p:nth-child(2) {
    text-transform: uppercase;
    color: #31c3c5;
    padding: 1rem 0;
}

.contacts .contact-means li p:last-child {
    font-size: 0.95em;
}

.contacts .form-bgr {
    position: relative;
    background: radial-gradient(circle at 30% 10%, #0dcfb9, #6cafda);
}

.contacts .bgr-ornament {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 100%;
}

.contacts .bgr-ornament img {
    width: 100%;
}

.contacts .request-form {
    text-align: left;
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
    margin: 0 auto;
    color: white;
}

.contacts .request-form .form-title h1 {
    line-height: 1.4em;
}

.contacts .request-form form {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
    z-index: 100;
}

.contacts .request-form .field {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;
}

.contacts .request-form .field label {
    font-size: 0.8em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.contacts .request-form input,
.contacts .request-form textarea {
    font-size: 1em;
    padding: 0.7rem;
    border: 1px solid #329eb0;
    border-bottom-right-radius: 15px;
    background-color: #fff7ec;
    resize: none;
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .15);
}

.contacts .request-form input:focus,
.contacts .request-form textarea:focus {
    outline: none;
}

.contacts .request-form .submit-btn {
    position: relative;
    flex-basis: 100%;
}

.contacts .request-form button {
    position: absolute;
    right: 0;
    margin-top: 1rem;
    background: none;
    border: 2px solid white;
}

.contacts .request-form button:hover,
.contacts .request-form button:active {
    background-color: #ff9b65;
}

.map iframe#gmap_canvas {
    display: block;
    width: 100%;
    height: 500px;
}

@media (min-width: 350px) {
    .header-illustration .header-text .header-icon:nth-child(2) {
        transform: translateX(calc(-50% - 100vw / 3));
    }
    .header-illustration .header-text .header-icon:nth-child(3) {
        transform: translateX(calc(-50% + 100vw / 3));
    }
    .header-illustration .header-text .header-icon:nth-child(4) {
        transform: translateX(-50%) translateY(calc(-20vw / 10));
    }
}

@media (min-width: 600px) {
    .header-illustration .about-drawing {
        bottom: 0;
        transform: translateX(-50%) translateY(80px);
    }
    .header-illustration .about-drawing img {
        transform: scaleY(-1);
    }
    .header-illustration .header-text>h1 {
        top: unset;
        bottom: 35px;
        padding: 0;
    }
    .header-illustration .header-text .header-icon:nth-child(2) {
        transform: translateX(calc(-50% - 70vw / 2)) translateY(70px);
    }
    .header-illustration .header-text .header-icon:nth-child(3) {
        transform: translateX(calc(-50% + 70vw / 2)) translateY(70px);
    }
    .header-illustration .header-text .header-icon:nth-child(4) {
        transform: translateX(-50%) translateY(-195px);
    }
    .header-illustration .header-text .header-icon:nth-child(5) {
        display: block;
        transform: translateX(calc(-50% - 90vw / 4)) translateY(80px);
    }
    .header-illustration .header-text .header-icon:nth-child(6) {
        display: block;
        transform: translateX(calc(-50% + 90vw / 4)) translateY(80px);
    }
    .contacts .contact-means {
        margin: 0;
    }
    .contacts .contact-means ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .contacts .contact-means ul li {
        flex-basis: 50%;
        border: none;
    }
    .contacts .request-form {
        width: 70%;
    }
}

@media (min-width: 900px) {
    .header-illustration .about-drawing {
        transform: translateX(-50%) translateY(150px);
    }
    .header-illustration .about-drawing img {
        width: 700px;
    }
    .header-illustration .header-text {
        position: static;
        top: unset;
        transform: unset;
    }
    .header-illustration .header-text .header-icon:nth-child(2) {
        transform: translateX(calc(-50% - 70vw / 2)) translateY(70px) scale(1.1);
    }
    .header-illustration .header-text .header-icon:nth-child(3) {
        transform: translateX(calc(-50% + 70vw / 2)) translateY(70px) scale(1.1);
    }
    .header-illustration .header-text .header-icon:nth-child(4) {
        transform: translateX(-50%) translateY(-195px) scale(1.2);
    }
    .contacts .outer-wrapper {
        max-width: 900px;
    }
    .contacts .contact-means ul {
        justify-content: space-between;
    }
    .contacts .contact-means ul li {
        flex-basis: 33%;
    }
    .contacts .contact-means li p {
        font-size: 1em;
    }
    .contacts .request-form {
        width: 90%;
    }
    .contacts .request-form .fields {
        display: flex;
        justify-content: space-between;
    }
    .contacts .request-form .fields>div {
        flex-basis: 47%;
    }
}

@media (min-width: 1200px) {
    .header-illustration .header-text .header-icon:nth-child(2) {
        transform: translateX(calc(-50% - 370px)) translateY(40px) scale(1.1);
    }
    .header-illustration .header-text .header-icon:nth-child(3) {
        transform: translateX(calc(-50% + 400px)) translateY(70px) scale(1.1);
    }
    .header-illustration .header-text .header-icon:nth-child(4) {
        transform: translateX(-50%) translateY(-210px) scale(1.2);
    }
    .header-illustration .header-text .header-icon:nth-child(5) {
        transform: translateX(calc(-50% - 240px)) translateY(60px);
    }
    .header-illustration .header-text .header-icon:nth-child(6) {
        transform: translateX(calc(-50% + 260px)) translateY(110px);
    }
}
