.nav-holder.opened {
    height: 185px;
}

.header-illustration {
    position: relative;
    height: 378px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(68, 109, 165, 0.9), rgba(92, 126, 172, 0.8)), url('../images/mailing.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.header-illustration .header-text {
    font-size: 0.95em;
    color: white;
    z-index: 10;
}

.header-illustration .header-text>h1 {
    position: absolute;
    font-size: 1.7em;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
    text-shadow: 7px 5px 4px rgb(31 61 103 / 50%);
}

.contacts .outer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 7rem 0;
}

.contacts .contact-means {
    margin: 0 auto;
    margin-bottom: 3rem;
}

.contacts .contact-means li {
    display: flex;
    line-height: 1.7em;
    text-align: left;
    align-items: center;
    padding: 1rem 0;
}

.contacts .contact-means li p {
    font-size: 0.95em;
    margin-left: 1rem;
}

.contacts .request-form {
    flex-basis: 60%;
    text-align: left;
}

.contacts .request-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts .request-form .field {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0.5rem 0;
}

.contacts .request-form .field label {
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.contacts .request-form input, 
.contacts .request-form textarea {
    font-size: 1em;
    padding: 0.7rem;
    border: 1px solid #aaa;
    background-color: #fff7ec;
    resize: none;
}

.contacts .request-form input:focus, 
.contacts .request-form textarea:focus {
    outline: none;
}

.contacts .request-form .submit-btn {
    position: relative;
    flex-basis: 100%;
}

.contacts .request-form button {
    position: absolute;
    right: 0;
    margin-top: 1rem;
}

.map iframe#gmap_canvas {
    display: block;
    width: 100%;
    height: 500px;
}

@media (min-width: 600px) {
    .header-illustration .header-text>h1 {
        top: 50%;
        padding: 0;
    }
    .contacts .request-form .field.name, 
    .contacts .request-form .field.email {
        flex-basis: 48%;
    }
}

@media (min-width: 900px) {
    .header-illustration .header-text {
        position: static;
        top: unset;
        transform: unset;
    }
    .contacts .outer-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
    .contacts .contact-means {
        margin: 0;
        margin-top: 1rem;
    }
    .contacts .contact-means li p {
        font-size: 1em;
    }
}