.header-illustration {
    position: relative;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(68, 109, 165, 0.9), rgba(92, 126, 172, 0.8)), url('../images/projects.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.header-illustration .header-text {
    font-size: 0.95em;
    color: white;
    z-index: 10;
}

.header-illustration .header-text>h1 {
    position: absolute;
    font-size: 1.7em;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
    justify-content: space-around;
    padding: 7rem 0;
    margin: 0 auto;
}

div.gallery-item {
    opacity: 0.1;
    padding: 1rem;
    transition: opacity 1s ease;
    cursor: pointer;
}

div.gallery-item img {
    transform: scale(0.5);
    transition: transform 0.5s ease;
}

/* Subgallery styles */

.subgallery {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.subgallery.active {
    display: block;
}

.noscroll {
    overflow: hidden;
}

.subgallery .subgallery-navi {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 90%;
    padding: 1rem 0;
    margin: 0 auto;
}

.subgallery button {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.subgallery button span {
    display: inline-block;
    font-size: 2.5em;
    line-height: 0;
    vertical-align: middle;
    transform: scaleX(1.3);
    margin: 0.7rem;
}

.subgallery button.close .cross {
    position: relative;
    right: 16px;
    bottom: 2px;
}

.subgallery button.close .cross span {
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: white;
    margin: 0;
}

.subgallery button.close .cross span:first-child {
    transform: rotate(45deg);
}

.subgallery button.close .cross span:last-child {
    transform: rotate(-45deg);
}

.subgallery button:focus {
    outline: none;
}

.subgallery button.noActiveBtn {
    color: grey;
    cursor: default;
}

.subgallery>.inner-wrapper {
    overflow-x: auto;
    max-width: 1400px;
    width: 90%;
    height: 93%;
    margin: 0 auto;
    background-color: white;
}

.subgallery .content-holder {
    max-width: 1000px;
    width: 80%;
    padding: 3rem 0;
    margin: 0 auto;
}

.subgallery .inner-wrapper .project-images img {
    width: 100%;
}

.subgallery .description {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: baseline;
    margin: 5rem auto;
}

.subgallery .description p {
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0;
}

.subgallery .description h2 {
    font-size: 1.4em;
    margin: 0;
}

.subgallery .inner-wrapper .project-images img {
    margin: 1rem auto;

}

.subgallery .inner-wrapper .description .title {
    width: 40%;
}

.subgallery .inner-wrapper .description .text {
    width: 60%;
}

@media (min-width: 600px) {
    .header-illustration .header-text>h1 {
        top: 50%;
        /* bottom: 35px; */
        padding: 0;
    }
}

@media (min-width: 900px) {
    .header-illustration .header-text {
        position: static;
        top: unset;
        transform: unset;
    }
}